<%- include("partials/header"); -%>
<div class="container">
  <div class="jumbotron">
    <br><br>
    <h1 class="text text-center">Welcome to Karnataka 2nd PUC Name Wise Results 2022</h1>
    <br><br>
    <h3>Please Enter any Name to search for results</h3>
    <br><br>
    <form action="/search" method="post">
        <input type="text" name="name" placeholder="mahesh">
        <button type="submit">Search</button><br>
    </form>
    <br><br><br>
    <div class="text text-muted">
      <p>
        <b>How search Works?</b>
        <br><br>
        Enter a part of the name, For example if the name is Mohith Raj, Searching as "Raj" also gives Mohith Raj, or searching as "hith" aslo gives the same.
        <br><br>
        Searching is case insensitive which means Captial letters and small letters in th name does not matter.
        <br><br>
        Spaces are included in search, if the name is "Mohith Raj" and you search from "MohithRaj" no results will be displayed.<br>
        Mohith Raj and MohithRaj are <b>Not same</b>.
        <br><br><br><br>
        <b>ONLY SCIENCE STREAM</b>
      </p>
    </div>
  </div>
</div>
<a href="https://madhuprakash19.github.io/aboutus/" target="_blank">ABOUT</a><br>
Website Visits:
<a href="https://www.hitwebcounter.com" target="_blank">
<img src="https://hitwebcounter.com/counter/counter.php?page=8014181&style=0006&nbdigits=8&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>
    <%- include("partials/footer"); -%>
