<%- include("partials/header"); -%>
<form action="/search" method="post">
    <input type="text" name="name">
    <button type="submit">Search</button><br>

</form>

    <%- include("partials/footer"); -%>
