<%- include("partials/header"); -%>
<h1>PUC HOME PAGE</h1>
<% data.forEach(function(student){ %>
    <br><a href="/detail/<%=student._id%> ">
              <%=student.name%>
                </a></h2>
    <% }) %>

        <%- include("partials/footer"); -%>
